.header{
  font-family: arial;
  background:white;
  color:purple;
  padding-left:550px;
  padding-top:10px;
  padding-bottom:10px;
  
}

h1{
  color:purple;
  line-height:4px
}
body{
  background:pink
}

.education{
  font-family:arial;
}

.education_header{
  color:white;
  font-weight:bold;
  
}

.experience{
  font-family:arial;
    
}
.experience_header{
  font-family:arial;
  color:white;
  
    
}
p{
  font-size:12px;
  line-height:4px;
  color:black;
}
h5{
  background:purple
}

ul{
  font-family:arial;
  font-size:14px
}
.experience_header{
  background:white
}

.footer{background:white;
  color:purple;
  
}
